html,
body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

button {
    margin-top: 15px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
    margin-top: 10px;
}

#cartasJugador,
cartasPC {
    height: 250px;
}